@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@font-face {
    font-family: 'Microsoft Yahei', \5FAE\8F6F\96C5\9ED1, '瀹嬩綋', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica;
}

body {
    line-height: 1;
    overflow-x: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #787a7e;
    font-size: 14px;
    background-color: #f4f3f6;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.el-table th {
    padding: 6px 0;
    text-align: center;
    background-color: #dfe6fb !important;
}

.el-table__body td,
.el-table__body td {
    padding: 6px 0;
    text-align: center;
}

.el-dialog__header {
    padding: 12px;
}

.el-dialog__header span {
    color: #6ca5ff;
}

.el-dialog__body {
    padding: 24px 24px 0;
}

.el-dialog__footer {
    padding: 20px 24px;
}

.dialog-footer {
    text-align: right;
}

.blockPage {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    margin: 20px 0 10px;
}

.highSearchOut {
    position: relative;
}

.highSearchOut .highSearch {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

.scroll_bar::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
}

.scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed;
}

.scroll_bar::-webkit-scrollbar-thumb {
    background: #c5cce2;
}

.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-button,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-button {
    height: 0;
    background-color: #eee;
}

.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-track,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-track {
    background: #e4e7ed;
}

.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-thumb,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background: #c5cce2;
}


/*# sourceMappingURL=rest.css.map */